  <!-- <table>
        <tr>
            <th>ISCI</th>
            <th>Title</th>
          </tr>

     
        <% for (var i = 0; i < itemsToWrite; i++) { %>
          <tr>
            <td><%= itemsToWrite[0] %></td>
            <td><%= itemsToWrite[1] %></td>
          </tr>
        <% } %>
        
      </table> -->